body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 20px;
    }

    h1,
    h2 {
      text-align: center;
      color: #333;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 600px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="date"],
    textarea,
    select {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-right: 10px;
    }

    .inline-label {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    input[type="submit"],
    input[type="reset"] {
      width: 49%;
      padding: 10px;
      background-color: #5e5e5e;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="reset"] {
      background-color: #4f7597;
    }

    input[type="submit"]:hover,
    input[type="reset"]:hover {
      background-color: #000000;
    }

    input[type="reset"]:hover {
      background-color: #073d66;
    }

    .response-message {
      text-align: center;
      display: none;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 600px;
      margin: 20px auto;
    }

    .response-message p {
      color: #666;
      font-size: 18px;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
      font-weight: bold;
    }

    .button:hover {
      background-color: #0056b3;
    }