body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1,
        h2 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            margin: 20px 0;
        }

        label,
        input,
        select,
        button {
            margin: 5px 0;
            padding: 10px;
            font-size: 16px;
        }

        button {
            background-color: #6e6e6e;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #000000;
        }

        #results {
            list-style-type: none;
            padding: 0;
        }

        .disclaimer {
            text-align: center;
            margin-top: 20px;
            color: #888;
        }